@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;400;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;1,100;1,200&display=swap");

body {
	font-family: 'Kanit', sans-serif;
	font-size: 18px;
	margin: 0px;
}

h1, h2, h3 {
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
}

a {
	text-decoration: none;
}

.banner {
	background-image: linear-gradient(-225deg, rgb(0, 0, 0, 0.4) 0%, rgb(0, 0, 0, 0.1) 50%), url(images/background.jpeg);
	color: white;
	padding: 80px 0px;
	background-size: cover;
	background-position: center;
	text-align: center;
}

.banner h1 {
	font-size: 50px;
	margin-top: 10px;
	margin-bottom: 3px;

}

.banner h2 {
	font-size: 30px;
	font-weight: lighter;
	opacity: 0.8;
	margin-bottom: 70px;
	margin-top: 3px;
}

.btn-blue {
	background-color: yellow;
	color: black;
	padding: 6px 20px;
}

.btn-blue:hover {
	background-color: black;
	color: yellow;
}

.btn-red {
	color: black;
	flex-grow: 1
}

.btn-red:hover {
	text-decoration: underline;
}

.cards {
	flex-wrap: wrap;
	display: grid;
	grid-template-columns: 1fr 1fr;
    gap: 7px 1.4em;
    padding: auto;
    text-align: center;
   	flex-basis: 250px;
	flex-grow: 1;
}

.card {
	padding: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid black;
	margin: 20px 0px;
	text-align: center;
	flex-basis: 250px;
	flex-grow: 1;
}

.card img {
	width: 150px;
	filter: grayscale(100%);
	flex-grow: 1;
}

.card h3 {
	flex-grow: 1;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 18px;
	flex-grow: 1;
}

.container {
	width: 700px;
	margin: 80px auto;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
